*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


h1{
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;

}

h2{
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}


h3{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}


header, section, footer, aside, nav, article,p,h2 {

display: block;

}

body {
background-image: url("../Estilos/imagenes css/fondo\ de\ pagina.jpg");
background-repeat: no-repeat center center fixed;
background-size:cover;
background-attachment: fixed;

}

.agrupar{
    width: 960px;
   border: 1px solid black;
   margin: 15px auto;
    padding: 40px;
    background: white;
}

.cabecera{
    background: #FFFBB9 ;
    border:1px solid #999999;
    padding: 20px;
}


.menu{
    background: #ccc;
    padding: 5px 15px ;
    text-align: left;
    border:1px solid #999999;
    text-decoration: none;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    text-decoration: none;
    
}
li a {
    color: blue;
}

.texto {
    background: #fffbcc;
    border: 1px solid black;
    padding: 20px ;
    text-align: justify;
    font: 15px verdana;
    text-decoration: none;

}


.pie{
    clear: both;
    font: 14px verdana;
    background: #ccc;
    padding: 20px;
    color: black;
    border:1px solid #999999;
    text-align: center;
}

img{
    width: 200px;
}